In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/us census data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,capital,income
0,39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,2174,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0,<=50K
2,38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0,<=50K
3,53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,0,<=50K
4,28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,0,<=50K

In [10]:
df_numerical = df.describe()
df_numerical

                age        fnlwgt  hours-per-week       capital
count  48842.000000  4.884200e+04    48842.000000  48842.000000
mean      38.643585  1.896641e+05       40.422382    991.565313
std       13.710510  1.056040e+05       12.391444   7475.549906
min       17.000000  1.228500e+04        1.000000  -4356.000000
25%       28.000000  1.175505e+05       40.000000      0.000000
50%       37.000000  1.781445e+05       40.000000      0.000000
75%       48.000000  2.376420e+05       45.000000      0.000000
max       90.000000  1.490400e+06       99.000000  99999.000000

In [11]:
df_numerical.columns

Index(['age', 'fnlwgt', 'hours-per-week', 'capital'], dtype='object')

In [22]:
df.select_dtypes(exclude='int')

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...
48837,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
48838,?,HS-grad,Widowed,?,Other-relative,Black,Male,United-States,<=50K
48839,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
48840,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,United-States,<=50K
48841,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K